<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Subir Archivo</title>
</head>
<body>
    <h1>Subir Archivo</h1>
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="file" id="archivo" name="archivo" required />
        <button type="submit">Subir</button>

      </form>
      <img id="archivoPreview" src="" alt="Archivo subido" style="display:none; max-width:300px;"/>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const fileInput = document.getElementById('archivo');
            const formData = new FormData();
            formData.append('archivo', fileInput.files[0]);

            // Obtener el token CSRF
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('/api/Subir/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje || 'Archivo subido!');
                if (data.archivo_url) {
                  const img = document.getElementById("archivoPreview");
                  img.src = data.archivo_url;
                  img.style.display = "block";
                }
            })
            .catch(error => {
                alert('Error al subir el archivo.');
                console.error(error);
            });
        });

    </script>
</body>
</html>